body{
   background-color: powderblue;
   text-align: center;
}


input[type="submit"]{
   border-style: solid;
   border-radius: 5px;
   background-color: #FFF283;
   border-width: 1px;
   border-color: black;
   cursor: pointer;
}

a{
   padding: 2px;
   border-style: solid;
   border-width: 1px;
   border-radius: 5px;
   background-color: #008CBA;
   color: white;
   text-decoration: none;
   display: inline-block;
}
