body{
   background-color: powderblue;
   text-align: center;
}


input[type="submit"]{
   border-style: solid;
   border-radius: 5px;
   background-color: #4CAF50;
   border-width: 1px;
   border-color: black;
   cursor: pointer;
   color:white;
}

a{
   padding: 5px;

   border-color: black;
   border-style: solid;
   border-width: 1px;
   border-radius: 5px;
   background-color: #e7e7e7; 
   color: black;
   text-decoration: none;
   display: inline-block;
}

hr{
   border-top: 3px solid #8c8b8b;
   height: 10px;
   border: 0;
   box-shadow: 0 10px 10px -10px inset;
}

ul{
   
   list-style-position: inside;
}