body{
   background-color: powderblue;
   text-align: center;
}


input[type="submit"]{
   border-style: solid;
   border-radius: 5px;
   background-color: #FFF283;
}

a{
   border-style: solid;
   border-width: 1px;
   border-radius: 5px;
   background-color: #FFF283;
   color: black;
   text-decoration: none;
   display: inline-block;
}