body{
   background-color: powderblue;
   text-align: center;
}


input[type="submit"]{
   border-style: solid;
   border-radius: 5px;
   background-color: #4CAF50;
   border-width: 1px;
   border-color: black;
   cursor: pointer;
   color:white;
}

a{
   padding: 2px;
   border-color: black;
   border-style: solid;
   border-width: 1px;
   border-radius: 5px;
   background-color: #555555;
   color: white;
   text-decoration: none;
   display: inline-block;
}
