header{
   background-color: rgb(246,219,70);
   text-align: center;
   font-family: cursive, sans-serif;
   width: 100%;
   padding: 5px;
   margin: 0;
   border: 0;
}

footer{
   background-color: rgb(246,219,70);
   text-align: center;
   font-family: cursive, sans-serif;
   width: 100%;
   padding: 5px;
}