header{
   background-color: rgb(246,219,70);
   text-align: center;
   font-family: cursive, sans-serif;
   width: 100%;
   padding: 5px;
   margin: 0px;
   border: 0px;
}

body{
   margin: 0px
}

ul{
 text-align: center;
 list-style-position: inside;
 list-style: none;
 
}

footer{
   background-color: rgb(246,219,70);
   text-align: center;
   font-family: cursive, sans-serif;
   width: 100%;
   padding: 5px;
}