header{
   background-color: gray;
   border-style: solid;
   border-bottom: none;
   border-left: none;
   border-right: none;
   border-color: black;
   text-align: center;
   font-family: cursive, sans-serif;
   width: 100%;
   padding: 5px;

}

body{
   margin: 0px;
   background-color:powderblue;
} 

ul{
 text-align: center;
 list-style-position: inside;
 list-style: none;
 
}

.currentPage{
   border-width: 10px;
   font-weight: bold;
   background-color: red;
}