header{
   background-color: blue
   text-align: center;
   font-family: cursive, sans-serif;
   width: 50%;
   padding: 5px;

}

body{
   margin: 0px
   background-color:powderblue;
} 

ul{
 text-align: center;
 list-style-position: inside;
 list-style: none;
 
}