header{
   background-color: lightgray;
   border-style: solid;
   border-bottom: none;
   border-left: none;
   border-right: none;
   border-color: black;
   text-align: center;
   font-family: cursive, sans-serif;
   width: 100%;
   padding: 5px;

}

body{
   margin: 0px;
   background-color:powderblue;
} 

ul{
 text-align: center;
 list-style-position: inside;
 list-style: none;
 
}


nav{
   background-color: lightgray;
   border-style: solid;
   border-top: none;
   border-left: none;
   border-right: none;
   border-color: black;
   text-align: center;
   font-family: cursive, sans-serif;
   width: 100%;
   padding: 15px;
}

.currentPage{
   border-style: solid;
   text-decoration: none;
   border-color: black;
   color: white;
   border-radius: 6px;
   background-color: lime;
   padding: 5px;
   margin: 5px;
   background-color: #4CAF50;
   font-weight: bold;
}